In [57]:
pip install pandas

Requirement already satisfied: pandas in c:\users\incie\desktop\proje\.conda\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\incie\desktop\proje\.conda\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\incie\desktop\proje\.conda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\incie\desktop\proje\.conda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\incie\desktop\proje\.conda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\incie\desktop\proje\.conda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [58]:
import pandas as pd
import numpy as np

### Pandas Series

In [59]:
g7_pop=pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [60]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [61]:
g7_pop.name = "G7 Population in millions" # series objesine isim veriyoruz

In [62]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [63]:
g7_pop.dtypes

dtype('float64')

In [64]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [65]:
g7_pop[4]

127.061

In [66]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [67]:
# iloc ( index location)

- ~ not
- | or
- & and

popülasyonu ortalamadan büyük olan yada std/2 ile ortalması toplamı popülasyondan az olan

In [68]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [69]:
print(g7_pop.mean())
print(g7_pop.std())
print(g7_pop.std()/2)

107.30257142857144
97.24996987121581
48.624984935607905

In [70]:
(g7_pop > g7_pop.mean()) | (g7_pop < (g7_pop.std()/2 + g7_pop.mean()))

0    True
1    True
2    True
3    True
4    True
5    True
6    True
Name: G7 Population in millions, dtype: bool

In [71]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [72]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [73]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [74]:
df.shape

(7, 5)

In [75]:
df.size

35

In [76]:
df.info

<bound method DataFrame.info of    Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America>

In [77]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [79]:
df["Continent"]

0    America
1     Europe
2     Europe
3     Europe
4       Asia
5     Europe
6    America
Name: Continent, dtype: object

In [80]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: 0, dtype: object

In [82]:
df["Continent"].to_frame() # dataframe çevirdik

  Continent
0   America
1    Europe
2    Europe
3    Europe
4      Asia
5    Europe
6   America

In [83]:
df[["Continent","GDP"]]

  Continent       GDP
0   America   1785387
1    Europe   2833687
2    Europe   3874437
3    Europe   2167744
4      Asia   4602367
5    Europe   2950039
6   America  17348075

In [93]:
df[1:3]

   Population      GDP  Surface Area    HDI Continent
1      63.951  2833687        640679  0.888    Europe
2      80.940  3874437        357114  0.916    Europe

In [96]:
df_data=pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

In [109]:
df_data.loc['Canada':'Japan']

         G7 Population in millions
Canada                      35.467
France                      63.951
Germany                     80.940
Italy                       60.665
Japan                      127.061

In [110]:
df_data.drop("Canada")

                G7 Population in millions
France                             63.951
Germany                            80.940
Italy                              60.665
Japan                             127.061
United Kingdom                     64.511
United States                     318.523

In [111]:
df_data.drop(["Canada","Italy"])

                G7 Population in millions
France                             63.951
Germany                            80.940
Japan                             127.061
United Kingdom                     64.511
United States                     318.523

In [112]:
langs=pd.Series(
    ["French","German","Italian"],
    index=["France","Germany","Italy"],
    name="Language"
)

In [113]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [116]:
df_data["Language"]=langs

In [117]:
df_data

                G7 Population in millions Language
Canada                             35.467      NaN
France                             63.951   French
Germany                            80.940   German
Italy                              60.665  Italian
Japan                             127.061      NaN
United Kingdom                     64.511      NaN
United States                     318.523      NaN

In [119]:
df_data=df_data.drop(["Language"], axis="columns")

In [120]:
df_data

                G7 Population in millions
Canada                             35.467
France                             63.951
Germany                            80.940
Italy                              60.665
Japan                             127.061
United Kingdom                     64.511
United States                     318.523

In [137]:
new_row=pd.Series({
    "Population" : 83.000,
    "Continent": "Europe",
    "Language":"Türkçe"
},name="Türkiye"
)

In [139]:
new_row

Population      83.0
Continent     Europe
Language      Türkçe
Name: Türkiye, dtype: object

In [141]:
pd.concat([df_data,new_row],axis=1)

                G7 Population in millions Türkiye
Canada                             35.467     NaN
France                             63.951     NaN
Germany                            80.940     NaN
Italy                              60.665     NaN
Japan                             127.061     NaN
United Kingdom                     64.511     NaN
United States                     318.523     NaN
Population                            NaN    83.0
Continent                             NaN  Europe
Language                              NaN  Türkçe

In [142]:
pd.concat([df_data,new_row.to_frame().T],ignore_index=False)

                G7 Population in millions Population Continent Language
Canada                             35.467        NaN       NaN      NaN
France                             63.951        NaN       NaN      NaN
Germany                            80.940        NaN       NaN      NaN
Italy                              60.665        NaN       NaN      NaN
Japan                             127.061        NaN       NaN      NaN
United Kingdom                     64.511        NaN       NaN      NaN
United States                     318.523        NaN       NaN      NaN
Türkiye                               NaN       83.0    Europe   Türkçe

In [143]:
# use concat instead of append, append method is deprecated